.section_1 {
    padding-left: 8em;
    padding-right: 8em;
    font-family: 'Roboto', sans-serif;
}

.text_header {
    margin-top:0;
    margin-bottom:1%;
    color: #e7513b;
    text-align: center;
    font-size: 40px;
}

.text_1 {
    font-size: 20px;
    color:white;
}

.div_main {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:2%;
}

.fl_column {
    display: flex;
    flex-direction: column;
}

.fl_row {
    display: flex;
    flex-direction: row;
}

.mrg_lf {
    margin-left: 27px;
}

.mrg {
    margin-bottom: .5rem;
}

.email_inp {
    min-width: 551px;
}

.btn {
      padding: 10px 10px;
      border-radius: 5px;
      background-color: rgba(239, 62, 58, 1);
      color: rgba(255, 255, 255, 0.8);
      font-size: medium;
}

.br {
  margin: 10px 0px;
  padding: 10px 10px;
  background: rgba(80, 80, 80, 0.5);
  color: rgba(239, 62, 58, 1);
  border-radius: 5px;
  border: 0;
  font-size: medium;
}

.div_form {
    margin-top: 20px;
}

.txtbx {
    min-width: 551px;
    min-height: 150px;
    resize: none;
    margin-bottom:2%;
    color: white;
}

.tc {
    text-align: center;
}

@media only screen and (max-width: 720px){
    .section_1 {
        float: left;
        min-width: 40%;
        align-items: center;
        padding: auto;
    }

    .fl_row {
        flex-direction: column;
    }

    .mrg_lf {
        margin-left: 0px;
    }

    .br {
        min-width: 300px;
    }
}