/*flex-classes start */
.fl_column {
    display: flex;
    flex-direction: column;
}

.fl_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}
/* flex-classes end */

/* div-classes start*/
.wrapper {
    font-size: 20px;
    color:white;
    font-family: 'Roboto', sans-serif;

}

.div_header {
    font-size: larger;
    color: #e7513b;
    text-align: center;
}

.div_main {
    justify-content: space-around;
    margin-bottom: 3rem;
}

.div_lf {
    margin: 0rem 3rem;
}

.div_rh {
    margin:1rem 0rem 2rem 0rem;
}
/*div-classes end*/

.input {
    width: 352px;
    margin: 5px 0px;
    padding: 10px 10px;
    background: rgba(80, 80, 80, 0.5);
    color: rgba(239, 62, 58, 1);
    border-radius: 5px;
    border: 0;
    font-size: medium;
}

.btn {
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(239, 62, 58, 1);
    color: rgba(255, 255, 255, 0.8);
    font-size: medium;
}

.txtbx {
    width: 352px;
    height: 125px;
    resize: none;
    margin-bottom:2%;
    color: white;
}

@media only screen and (max-width: 720px){
    .input {
        width: 100%;
    }
}