.section_1 {
    padding-left: 8em;
    padding-right: 8em;
    font-family: 'Roboto', sans-serif;
}

.text_header {
    margin-top:0;
    margin-bottom:1%;
    color: #e7513b;
    text-align: center;
    font-size: 40px;
}

.text_1 {
    font-size: 20px;
    color:white;
}

.div_main {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:2%;
}

.fl_column {
    display: flex;
    flex-direction: column;
}

.fl_row {
    display: flex;
    flex-direction: row;
}

.mrg_lf {
    margin-left: 10%;
}

.div_lines {
    padding-bottom: 5rem;
}
.mrg {
    margin-bottom: .5rem;
}

.txtbx {
    min-width: 500px;
    min-height: 150px;
    margin-bottom:2%;
}

.btn {
      padding: 10px 10px;
      border-radius: 5px;
      background-color: rgba(239, 62, 58, 1);
      color: rgba(255, 255, 255, 0.8);
      font-size: medium;
}

.br {
    border-radius: 3px;
    border: 0px;
    height: 40px;
    background: white;
    padding: 5px 15px;
    margin-bottom:20px;
}

.tc {
    text-align: center;
}