.footer {
  height: 2.6rem;
  width: 100%;
  background: #e7513b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 0 0.5em;
}

@media (max-width: 480px) {
  .footer {
    font-size: 0.8rem;
  }
}
