.footer {
  height: 2.6rem;
  width: 100%;
  background: #e7513b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 0 0.5em;
}
/* 
.row {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.column {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}

.column h4 {
  text-align: center;
} */

.footer .bottom {
  font-size: 1em;
  /* height: 100%; */
}

.list li {
  list-style: none;
}

.col_small {
  text-align: center;
  align-items: center;
}
