.form {
  position: relative;
  /* bottom: 0px; */
  width: 100%;
  display: flex;
  height: 1%;
  border-top: 2px solid #474747;
}

.input {
  border: none;
  /* height: 1%; */
  /* border-radius: 0 0 0 10px; */
  background: #191919;
  padding: 20px;
  /* padding-top: 20px; */
  padding-bottom: 30px;
  width: 80%;
  font-size: 1.2em;
  color: white;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #e7513b;
  /* border-radius: 0 0px 5px 0; */
  padding-top: 20px;
  padding-bottom: 32px;
  vertical-align: middle;
  text-align: center;
  /* bottom: 0px; */
  display: inline-block;
  border: none;
  width: 20%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .form {
    height: 30px;
  }

  .input {
    height: 100%;
    padding: 0% 0% 0% 1%;
  }

  .sendButton {
    height: 100%;
    border-radius: 0 0px 5px 0;
    padding: 0% 0% 0% 1%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .form {
    height: 30px;
  }

  .input {
    height: 100%;
    padding: 0% 0% 0% 1%;
  }

  .sendButton {
    height: 100%;
    border-radius: 0 0px 5px 0;
    padding: 0% 0% 0% 1%;
  }
}
